{% extends 'admin/master.html' %}
{% block main %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">Edit user</h2>
          </div>
          <form action="{{ url_for('admin.save_user', user_id=user.id) }}" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-select" id="status" name="status" aria-label="Status of the user">
                {% for status in user_statuses %}
                <option value="{{ status.value }}"{% if user.status == status.value %}selected{% endif %}>{{ status.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3 form-check">
              <input class="form-check-input" type="checkbox" value="true" id="is_moderator" name="is_moderator"{% if user.is_moderator %}checked{% endif %}>
              <label class="form-check-label" for="is_moderator">
                Moderator
              </label>
            </div>
            <div class="mb-3 form-check">
              <input class="form-check-input" type="checkbox" value="true" id="is_admin" name="is_admin"{% if user.is_admin %}checked{% endif %}>
              <label class="form-check-label" for="is_admin">
                Administrator
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{{ url_for('admin.users') }}" class="btn btn-secondary">Cancel</a>
          </form>
{% endblock main %}
