{% extends 'admin/master.html' %}
{% block main %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">Pages</h2>
            <div class="btn-toolbar mb-2 mb-md-0">
              <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('admin.new_page') }}"><i class="bi-file-earmark-plus"></i> New Page</a>
            </div>
          </div>
          {% for category, message in get_flashed_messages(with_categories=True) %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Slug</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for page in pages %}
              <tr>
                <td>{{ page.title }}</td>
                <td>{{ page.slug }}</td>
                <td>{{ page.status }}</td>
                <td><a href="{{ url_for('admin.pages') }}/edit/{{ page.id }}" class="btn btn-sm btn-primary">Edit</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <nav aria-label="pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item{% if page == 1 %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.pages', page=1) }}">First</a>
              </li>
              <li class="page-item{% if page == 1 %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.pages', page=page - 1) }}">Previous</a>
              </li>
              {%- if page > 1 -%}
              <li class="page-item"><a class="page-link" href="{{ url_for('admin.pages', page=page - 1) }}">{{ page - 1 }}</a></li>
              {%- endif -%}
              <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page }}</span>
              </li>
              {%- if page < page_total -%}
              <li class="page-item"><a class="page-link" href="{{ url_for('admin.pages', page=page + 1) }}">{{ page + 1 }}</a></li>
              {%- endif -%}
              <li class="page-item{% if page == page_total %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.pages', page=page + 1) }}">Next</a>
              </li>
              <li class="page-item{% if page == page_total %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.pages', page=page_total) }}">Last</a>
              </li>
            </ul>
          </nav>
{% endblock main %}
