{% extends 'admin/master.html' %}
{% block main %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">Review addons</h2>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="dropdown">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if addon_type %}{{ addon_type | title }}s{% else %}All addons{% endif %}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('admin.review') }}">All addons</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('admin.review', type='themes') }}">Themes</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('admin.review', type='plugins') }}">Plugins</a></li>
                </ul>
              </div>
            </div>
          </div>
          {% for category, message in get_flashed_messages(with_categories=True) %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">User</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for addon in addons %}
              <tr>
                <td>{{ addon.addon_type | title }}</td>
                <td>{{ addon.title }}</td>
                <td>{{ addon.description }}</td>
                <td>{{ addon.user.username }}</td>
                <td><a href="{{ url_for('admin.review_addon', addon_id=addon.id) }}" class="btn btn-sm btn-primary">Review</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <nav aria-label="pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item{% if page == 1 %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.review', addon_type=addon_type, page=1) }}">First</a>
              </li>
              <li class="page-item{% if page == 1 %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.review', addon_type=addon_type, page=page - 1) }}">Previous</a>
              </li>
              {%- if page > 1 -%}
              <li class="page-item"><a class="page-link" href="{{ url_for('admin.review', addon_type=addon_type, page=page - 1) }}">{{ page - 1 }}</a></li>
              {%- endif -%}
              <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page }}</span>
              </li>
              {%- if page < page_total -%}
              <li class="page-item"><a class="page-link" href="{{ url_for('admin.review', addon_type=addon_type, page=page + 1) }}">{{ page + 1 }}</a></li>
              {%- endif -%}
              <li class="page-item{% if page == page_total %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.review', addon_type=addon_type, page=page + 1) }}">Next</a>
              </li>
              <li class="page-item{% if page == page_total %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.review', addon_type=addon_type, page=page_total) }}">Last</a>
              </li>
            </ul>
          </nav>
{% endblock main %}
