{% extends 'addons/master.html' %}
{% block bodyclasses %}no-nav-padding{% endblock %}
{% block mainclasses %}bg-tertiary-subtle{% endblock %}
{% block main %}
  <section class="py-5 mb-5 text-bg-secondary page-{% if type_ %}{{ type_ }}s{% else %}latest{% endif %}">
    <div class="container">
      <h2>{{ page_title }} {% if type_ %}{{ type_ }}s{% else %}themes and plugins{% endif %}</h2>
    </div>
  </section>
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for addon in addons %}
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="addon-type text-white px-2 py-1">{{ addon.addon_type | title }}</div>
          {% if addon.thumbnail_path %}
          <img src="{{ url_for('addons.thumbnail', path=addon.thumbnail_path) }}" class="card-img-top" alt="{{ addon.title }}">
          {% else %}
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ addon.title }}</text></svg>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ addon.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">by {{ addon.user.username }}</h6>
            <p class="card-text">{{ addon.description }}</p>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <small class="text-body-secondary">Version {{ addon.current_version.version }}, updated {{ addon.updated.strftime('%d %b %Y') }}</small>
            <a href="{{ url_for('addons.download', path=addon.current_version.file_path) }}" class="btn btn-sm btn-outline-primary">Download</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock main %}
