{% extends 'main/master.html' %}
{% block bodyclasses %}no-nav-padding{% endblock %}
{% block mainclasses %}bg-tertiary-subtle{% endblock %}
{% block main %}
  <section class="py-5 mb-5 text-bg-secondary page-themes">
    <div class="container">
      <h2>{{ page_title}} themes</h2>
    </div>
  </section>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for addon in addons %}
      <div class="col">
        <div class="card shadow-sm">
          {% if addon.thumbnail_path %}
          <img src="{{ addon.thumbnail_path }}" class="card-img-top" alt="{{ addon.title }}">
          {% else %}
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ addon.title }}</text></svg>
          {% endif %}
          <div class="card-body">
            <p class="card-text">{{ addon.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock main %}
