{% extends 'addons/master.html' %}
{% block bodyclasses %}no-nav-padding{% endblock %}
{% block mainclasses %}bg-tertiary-subtle{% endblock %}
{% block extrascripts %}
<script src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock %}
{% block main %}
  <section class="py-5 mb-5 text-bg-secondary page-upload">
    <div class="container">
      <h2>Upload your {{ addon_type }}</h2>
    </div>
  </section>
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <form action="{{ url_for('addons.upload_post', addon_type=addon_type) }}" method="post" enctype="multipart/form-data" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="My {{ addon_type }}" {% if session.get('title') %} value="{{ session.pop('title') }}"{% endif %}required>
        <div class="invalid-feedback">Please specify a title for your {{ addon_type }}</div>
        <p class="form-text">The title of your {{ addon_type }}</p>
      </div>
      <div class="mb-3">
        <label for="version" class="form-label">Version</label>
        <input type="text" class="form-control" id="version" name="version" placeholder="1.0" required>
        <div class="invalid-feedback">Please specify a version for your {{ addon_type }}</div>
        <p class="form-text">The version of your {{ addon_type }}</p>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="10" required></textarea>
        <div class="invalid-feedback">Please provide a description for your {{ addon_type }}</div>
        <p class="form-text">Plain text, no HTML or other formatting, links are removed</p>
      </div>
      <div class="mb-3">
        <label for="thumbnail" class="form-label">Thumbnail</label>
        <input type="file" class="form-control" id="thumbnail" name="thumbnail" accept="image/png, image/jpeg" required>
        <div class="invalid-feedback">Please provide a thumbnail for your {{ addon_type }}</div>
        <p class="form-text">A thumbnail, logo, or other descriptive image of your {{ addon_type }}</p>
      </div>
      <div class="mb-3">
        <label for="upload" class="form-label">{{ addon_type | title }} file</label>
        <input type="file" class="form-control" id="upload" name="upload" accept=".otz, application/zip" required>
        <div class="invalid-feedback">Please provide the file of your {{ addon_type }}</div>
        <p class="form-text">Upload your {{ addon_type }} here. See the <a href="{{ url_for('pages.view', slug='uploading-your-addon') }}">Uploading your addon</a> help page for more information</p>
      </div>
      {% if addon_type == 'theme' %}
      <div class="mb-3">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="is_copyright_free" name="is_copyright_free" value="true" required>
          <label for="is_copyright_free" class="form-check-label">Free of copyrighted content</label>
        </div>
        <p class="form-text">Any images or other pieces of content in your theme need to be free of copyright</p>
      </div>
      {% elif addon_type == 'plugin' %}
      <div class="mb-3">
        <label for="license" class="form-label">License</label>
        <select class="form-select" id="license" name="license" required>
          <option value="GPL-3.0-or-later">GNU General Public License Version 3 or later (recommended)</option>
          <option value="LGPL-3.0-only">GNU Lesser General Public License version 3 (popular)</option>
          <option value="Apache-2.0">Apache License, Version 2.0</option>
          <option value="BSD-3-Clause">3-clause BSD License</option>
          <option value="MIT">MIT License</option>
          <option value="MPL-2.0">Mozilla Public License 2.0</option>
          <option value="Commercial">Unspecified commercial (non-open source) license (not recommended)</option>
        </select>
        <p class="form-text">The license of your {{ addon_type }}. See the <a href="{{ url_for('pages.view', slug='licenses') }}">Licenses</a> page for more information.</p>
      </div>
      {% endif %}
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
{% endblock main %}
